{% extends '@layout/default.html.twig' %}
{% set pageHeader =  currentCategory.title | default('Наше производство') %}

{% block title %}
    {{ pageHeader }}
{% endblock %}

{% block pageHeader %}
    {{ include('@layout/components/_pageHeader.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('@manufacture/components/_sidebar.twig') }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-9">
        {{ include('@manufacture/components/_breadcrumb.twig') }}
        <div class="row manufacture-list">
            <div class="flex-box">
                {% for manufacture in manufactureList %}
                    <div class="col-md-4 flex-box-auto">
                        <div class="thumbnail manufacture-item z-depth-1">
                            <img src="{{ manufacture.image }}" alt="{{ manufacture.title }}">
                            <div class="caption">
                                <h4 class="manufacture-title">{{ manufacture.title }}</h4>
                                <p class="manufacture-description">{{ manufacture.description }}</p>
                                <p class="text-right manufacture-link">
                                    <a href="{{ path('manufacture_view', {'full_path': manufacture.fullPath}) }}" class="btn btn-alpha default" title="{{ manufacture.title }}">Подробнее</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}