{% extends '@layout/default.html.twig' %}
{% set pageHeader =  currentCategory.name | default('Каталог Продукции') %}

{% block title %}
    {{ currentCategory.name | default('Каталог Продукции') }}
{% endblock %}

{% block pageHeader %}
    {{ include('@layout/components/_pageHeader.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('@layout/components/catalog/_sidebar.twig') }}
{% endblock %}

{% block content %}
    <div  class="col-xs-12 col-sm-12 col-md-9">
        {% if productList is defined and productList is not null %}
            {{ include('@layout/components/catalog/_categories_list_product.twig') }}
        {% else %}
            {{ include('@layout/components/catalog/_categories_list_item.twig') }}
        {% endif %}
        {{ include('@layout/components/catalog/_category_content_html.twig') }}
    </div>
{% endblock %}