{% extends '@layout/default.html.twig' %}

{% block title %}
    {{ product.sku }}. {{ product.name }}
{% endblock %}

{% block pageHeader %}
    {{ include('@catalog/components/_page_header_product.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('@catalog/components/_sidebar.twig') }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="row product-item">
            <div class="col-sm-3">
                {{ include('@catalog/components/_product_images.twig') }}
            </div>
            <div class="col-sm-9">
                {#<h4>Описание</h4>#}
                {{ include('@catalog/components/_product_property.twig') }}
                {% if product.description != '' %}
                    {{ include('@catalog/components/_product_descroption.twig') }}
                {% endif %}
            </div>
        </div>
        <div class="row product-modifications">
            <div class="col-md-12">
                <h4>Модификации и размеры</h4>
                {{ include('@catalog/components/_product_modifications.twig') }}
            </div>
        </div>
    </div>
{% endblock %}