<nav class="navbar main-menu">
    <div class="container main-menu-dropdown">
        <ul>
            <li class="visible-sm">
                <button class="btn btn-link sidebar-toggle" type="button"><i class="fa fa-bars"></i></button>
            </li>
            <li>
                <a href="{{ path('home') }}">
                    Главная
                </a>
            </li>
            <li>
                <a href="{{ path('catalog_category_lending') }}">
                    Каталог
                </a>
            </li>
            <li>
                <a href="{{ path('manufacture_lending') }}">
                    Производство
                </a>
            </li>
            <li>
                <a href="{{ path('wandfluh.lending') }}">
                    Партнеры
                </a>
            </li>
            {#<li>
                <a href="{{ path('home') }}">
                    Клиентам
                </a>
            </li>#}
            <li>
                <a href="{{ path('media.list', {'media':'news'}) }}">
                    Новости
                </a>
            </li>
            <li>
                <a href="{{ path('about') }}">
                    О компании
                </a>
            </li>
            <li>
                <a href="{{ path('contact') }}">
                    Контакты
                </a>
            </li>
        </ul>
        <div class="visible-sm navbar-right">
            <button class="btn btn-link" type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="navbar-right col-md-4 pr0 hidden-xs hidden-sm">
            {{ include('@layout/components/_search_form.twig') }}
        </div>
    </div>
</nav>
