<nav class="navbar main-menu">
    <div class="container main-menu-dropdown">
        <ul>
            <li>
                <a href="{{ path('home') }}">
                    О компании
                </a>
            </li>
            <li>
                <a href="{{ path('catalog_category_lending') }}">
                    Продукция
                </a>
            </li>
            <li>
                <a href="{{ path('manufacture_lending') }}">
                    Производство
                </a>
            </li>
            <li>
                <a href="{{ path('pipeline_lending') }}">
                    Детали трубопроводов
                </a>
            </li>
            <li>
                <a href="{{ path('oil.index') }}">
                    Масла
                </a>
            </li>
            <li>
                <a href="{{ path('home') }}">
                    Клиентам
                </a>
            </li>
            <li>
                <a href="{{ path('news.list') }}">
                    Новости
                </a>
            </li>
            <li class="hidden-sm">
                <a href="{{ path('home') }}">
                    Контакты
                </a>
            </li>
            <li class="visible-sm">
                <button class="btn btn-link" type="submit"><i class="fa fa-search"></i></button>
            </li>
        </ul>
        {{ include('@layout/components/_search_form.twig') }}
    </div>
</nav>
