{% extends '@layout/default.html.twig' %}
{% set pageHeader =  currentCategory.title | default('Детали трубопроводов') %}

{% block title %}
    {{ pageHeader }}
{% endblock %}

{% block pageHeader %}
    {{ include('@layout/components/_pageHeader.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('@pipeline/components/_sidebar.twig') }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-9">
        {{ include('@pipeline/components/_breadcrumb.twig') }}
        <div class="row">
            <div class="container-fluid">
                <div class="col-xs-6 col-md-3 pull-right">
                    <div class="thumbnail">
                        <img src="{{ currentCategory.image }}" alt="{{ currentCategory.title }}">
                    </div>
                </div>
                {{ currentCategory.contentHtml|default('')|raw }}
            </div>
        </div>
        <div class="row mb2">
            <div class="container-fluid product-list">
                {% for item in pipelineList %}
                    <div class="row product-item">
                        <div class="col-md-9">
                            <h2 class="h4 mb2">
                                <a href="{{ item.pipeline.imageTable }}" target="_blank">{{ item.pipeline.title }}<img
                                            src="{{ asset('img/pdf-file.png') }}"
                                            alt="{{ item.pipeline.title }}" class="mlr1"></a>
                            </h2>
                            <div class="product-property">
                                <table class="table table-striped table-condensed">
                                    {% for property in item.properties %}
                                        <tr>
                                            <th class="col-xs-4">{{ property.pipelineProperty.name }}</th>
                                            <td>{{ property.value }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}