{% extends '@layout/default.html.twig' %}
{% set pageHeader =  currentCategory.name | default('Гидроаппаратура Wandfluh') %}

{% block title %}
    {{ currentCategory.name | default('Гидроаппаратура Wandfluh') }}
{% endblock %}

{% block pageHeader %}
    {{ include('@layout/components/_pageHeader.twig') }}
{% endblock %}

{% block sidebar %}
    {{ include('@wandfluh/components/_sidebar.twig') }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-9">
        {{ include('@wandfluh/components/_breadcrumb.twig') }}
        {{ include('@wandfluh/components/_category_properties.twig') }}
        {{ include('@wandfluh/components/_categories_list_item.twig') }}
        {{ include('@wandfluh/components/_product_list_item.twig') }}
    </div>
{% endblock %}