<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %} - Альфа-Гидро</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap/ah-bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/global.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    <header class="app-header">
        {#{{ include('@layout/components/_navbar.twig') }}#}
        {{ include('@layout/components/_main_head.twig') }}
        {{ include('@layout/components/_navbar_ah.twig') }}
    </header>

    <div class="app-content">
        <main class="container">
            {% block sidebar %}{% endblock %}
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="app-footer">
        <div class="container">
            <hr />
            {% block footer %}
                <p>
                    &copy; 2009 - {{ "now"|date("Y") }} Альфа-Гидро. Гидравлические системы и компоненты.
                </p>
            {% endblock %}
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ asset('js/bundle.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
