{% extends '@layout/default.html.twig' %}

{% block title %}Гидравлика Alpha-Hydro{% endblock %}

{#
{% block sidebar %}
    {{ include('@layout/components/_sidebar.twig') }}
{% endblock %}
#}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <h1 class="text-size-header-large">Гидравлика
                    <small>гидравлическое оборудование</small>
                </h1>
                <p class="ah-info-block ah-info-block-info">Производство и поставка гидравлического оборудования и гидрокомпонентов. Опрессовка рукавов высокого
                    давления (РВД), фитингов, шлангов, труб и трубных соединений. Проектировка и производство
                    гидростанций и гидроцилиндров.</p>
            </div>
            <div class="col-md-6">
                <img src="{{ asset("upload/pages/catalog560x325.png") }}" alt="Каталог продукции"
                     class="img-responsive">
            </div>
        </div>

        <div class="row">
            <div class="flex-box">
                <div class="flex-box-item-3 text-center z-depth-1">
                    <h2 class="h4">
                        <a href="{{ path("catalog_category_lending") }}">
                            Штуцера, фитинги, втулки
                        </a>
                    </h2>
                </div>
                <div class="flex-box-item-3 text-center z-depth-1">
                    <h2 class="h4">
                        <a href="{{ path("catalog_category_lending") }}">
                            Трубы, шланги, РВД, защита для шлангов
                        </a>
                    </h2>
                </div>
                <div class="flex-box-item-3 text-center z-depth-1">
                    <h2 class="h4">
                        <a href="{{ path("catalog_category_lending") }}">
                            Гидравлические принадлежности
                        </a>
                    </h2>
                </div>
                <div class="flex-box-item-3 text-center z-depth-1">
                    <h2 class="h4">
                        <a href="{{ path("catalog_category_lending") }}">
                            Гидронасосы, гидроомоторы, гидравлические двигатели
                        </a>
                    </h2>
                </div>
                <div class="flex-box-item-3 text-center z-depth-1">
                    <h2 class="h4">
                        <a href="{{ path("catalog_category_lending") }}">
                            Контрольно-измерительные приборы
                        </a>
                    </h2>
                </div>
                <div class="flex-box-item-3 text-center z-depth-1">
                    <h2 class="h4">
                        <a href="{{ path("catalog_category_lending") }}">
                            Уплотнения и уплотнительные кольца
                        </a>
                    </h2>
                </div>
                <div class="flex-box-item-3 text-center z-depth-1">
                    <h2 class="h4">
                        <a href="{{ path('manufacture_category_list', {'path': 'gidrostancii'}) }}">
                            Гидростанции, гидравлические стенды и модули
                        </a>
                    </h2>
                </div>
                <div class="flex-box-item-3 text-center z-depth-1">
                    <h2 class="h4">
                        <a href="{{ path("wandfluh.lending") }}">
                            Гидроаппаратура Wandfluh
                        </a>
                    </h2>
                </div>
                <div class="flex-box-item-3 text-center z-depth-1">
                    <h2 class="h4">
                        <a href="{{ path('manufacture_category_list', {'path': 'gidrocilindry'}) }}">
                            Гидроцилиндры
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
