{% extends '@layout/default.html.twig' %}

{% block title %}Гидравлика Alpha-Hydro{% endblock %}

{% set catalogCategories = [
    {"name":"Штуцера, фитинги, втулки", "link": path("catalog_category_lending"), "img": "files/images/category/icons/brc.png"},
    {"name":"Трубы, шланги, РВД, защита для шлангов", "link": path("catalog_category_lending"), "img": "files/images/category/icons/hose.png"},
    {"name":"Гидравлические принадлежности", "link": path("catalog_category_lending"), "img": "files/images/category/icons/connect.png"},
    {"name":"Гидравлические двигатели, насосы, моторы", "link": path("catalog_category_lending"), "img": "files/images/category/icons/hydraulics.png"},
    {"name":"Контрольно-измерительные приборы", "link": path("catalog_category_lending"), "img": "files/images/category/icons/manometers.png"},
    {"name":"Уплотнения и уплотнительные кольца", "link": path("catalog_category_lending"), "img": "files/images/category/icons/sealing.png"},
] %}

{% set productions = [
    {"name":"Гидростанции, гидравлические стенды и модули", "link": path('manufacture_category_list', {'path': 'gidrostancii'}), "img": "files/images/category/icons/production.png"},
    {"name":"Гидроцилиндры", "link": path('manufacture_category_list', {'path': 'gidrocilindry'}), "img": "files/images/category/icons/gidrocilindry_icon.png"},
] %}

{% set partners = [
    {"name":"Гидроаппаратура Wandfluh", "link": path("wandfluh.lending"), "img": "upload/wandfluh/img/wandfluh.png"},
] %}


{% block content %}
    <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
            <img src="{{ asset("upload/pages/catalog560x325.png") }}" alt="Каталог продукции" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h1 class="text-size-header-large">Гидравлика
                <small>гидравлическое оборудование</small>
            </h1>
            <p class="ah-info-block ah-info-block-info">Производство и поставка гидравлического оборудования и гидрокомпонентов. Опрессовка рукавов высокого давления (РВД), фитингов, шлангов, труб и трубных соединений. Проектировка и производство гидростанций и гидроцилиндров.</p>
        </div>
    </div>
    <div class="row">
        {{ include('@app/components/_home_page_sidebar.twig') }}
        <div class="col-md-9">
            <div class="flex-box col-3">
                {% for item in catalogCategories %}
                    <div class="flex-box-item card hover">
                        <a href="{{ item.link }}">
                            <div class="card-image">
                                <img src="{{ asset(item.img) }}"/>
                            </div>
                            <div class="card-title bottom text-center">
                                {{ item.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% for item in productions %}
                    <div class="flex-box-item-3 card hover">
                        <a href="{{ item.link }}">
                            <div class="card-image">
                                <img src="{{ asset(item.img) }}"/>
                            </div>
                            <div class="card-title bottom text-center">
                                {{ item.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% for item in partners %}
                    <div class="flex-box-item-3 card hover">
                        <a href="{{ item.link }}">
                            <div class="card-image">
                                <img src="{{ asset(item.img) }}"/>
                            </div>
                            <div class="card-title bottom text-center">
                                {{ item.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
