<div class="row">
    <div class="container-fluid">
        <div class="product-list">
            {% for product in productList %}
                <div class="row">
                    <div class="product-item">
                        <div class="col-md-3">
                            <div class="thumbnail product-images">
                                <a href="{{ path('catalog_category_list', {'full_path': product.fullPath}) }}">
                                    <img src="{{ product.uploadPath }}{{ product.image }}"
                                         alt="{{ product.name }}">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h2 class="h4">
                                <a href="{{ path('catalog_category_list', {'full_path': product.fullPath}) }}">{{ product.sku }}</a>
                                <small>{{ product.name }}</small>
                            </h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>