<div class="sidebar-dropdown hidden-sm col-md-3 sidebar">
    <ul class="list-group crop-bottom-shadow">
        <li class="list-group-item sidebar-heading">
            {% if parentCategory is defined %}
                <a href="{{ path('catalog_category_list', {'full_path': parentCategory.fullPath}) }}">
                    {{ parentCategory.name}}
                    <span class="badge"><i class="fa fa-level-up fa-fw"></i></span>
                </a>
            {% else %}
                <a href="{{ path('catalog_category_lending') }}">
                    Каталог
                    <span class="badge"><i class="fa fa-level-up fa-fw"></i></span>
                </a>
            {% endif %}
        </li>
        {% for category in sidebarListCategories %}
            {% if currentCategory is defined and category.id == currentCategory.id %}
                <li class="list-group-item sidebar-item sidebar-item-current">
                    <span>{{ category.name }}</span>
                </li>
            {% else %}
                <li class="list-group-item sidebar-item">
                    <a href="{{ path('catalog_category_lending') }}/{{ category.fullPath }}">{{ category.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>