

<div class="product-list">
    {% for product in productList %}
        <div class="row product-item">
            <div class="col-sm-3">
                <div class="thumbnail product-images">
                    <a href="{{ path('catalog_category_list', {'full_path': product.fullPath}) }}">
                        {% if product.draft is not null and product.draft != '' %}
                            <img src="{{ product.uploadPathDraft ~ product.draft }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="{{ asset('files/images/no-foto.jpg') }}" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-sm-9">
                <h2 class="h4">
                    <a href="{{ path('catalog_category_list', {'full_path': product.fullPath}) }}">{{ product.sku }}</a>
                    <small>{{ product.name }}</small>
                </h2>
                {{ include('@catalog/components/_product_property.twig') }}
            </div>
        </div>
    {% endfor %}
</div>