<div class="row">
    <div class="categories-list flex-box">
        {% for category in categories %}
            <div class="categories-list-item text-center flex-box-item z-depth-1">
                <a href="{{ path('catalog_category_lending') }}/{{ category.fullPath }}">
                    <img class="categories-list-item-img" src="{{ category.uploadPath }}{{ category.image }}" alt="{{ category.name }}">
                    <div class="categories-list-item-name">{{ category.name }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
