{% extends '@layout/components/_sidebar.twig' %}

{% block sidebarList %}
    <ul class="list-group crop-bottom-shadow">
        {% if parentCategory is defined %}
            <li class="list-group-item sidebar-heading">
                {% if parentCategory is not null %}
                    <a href="{{ path('catalog_category_list', {'full_path': parentCategory.fullPath}) }}">
                        {{ parentCategory.name ~ ' ...'}}
                        <span class="badge"><i class="fa fa-level-up fa-fw"></i></span>
                    </a>
                {% else %}
                    <a href="{{ path('catalog_category_lending') }}">
                        Каталог ...
                        <span class="badge"><i class="fa fa-level-up fa-fw"></i></span>
                    </a>
                {% endif %}
            </li>
        {% else %}
            <li class="list-group-item sidebar-heading">
                <span class="span">Каталог</span>
            </li>
        {% endif %}

        {% for category in sidebarListCategories %}
            {% if currentCategory is defined and category.id == currentCategory.id %}
                <li class="list-group-item sidebar-item sidebar-item-current">
                    <span>{{ category.name }}</span>
                </li>
            {% else %}
                <li class="list-group-item sidebar-item">
                    <a href="{{ path('catalog_category_list', {'full_path': category.fullPath}) }}">{{ category.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}